{% include 'nav.html' %}
<div class="main">
{% block content %}
	<div class="">
			<div class="text-center">
				<div class="panel panel-primary" style="width: 38rem;">
					<form action="{{url_for('deleteTeam_Details',sbid=sbid,sbename=teamdetails.team_name)}}" method="POST">
						<div class="panel-body"style="background-color: blue;">
							<h4 style="color: white;">Are you sure you want to delete {{teamdetails.name}}</h4>
						</div>
						<div class="panel-footer text-center"style="background-color: blue;">
							<input type="submit" class="btn btn-danger" value="Delete" style="margin-right: 10px;">
						    <button type="button" class="btn btn-warning"><a href="{{url_for('showApssdc',sbid=sbid)}}">CANCEL</a></button>
						</div>
						
					</form>
				</div>
			</div>
	</div>
{% endblock content %}	
</div>
